[submodule "cccl"]
	path = cccl
	url = https://github.com/NVIDIA/cccl.git
[submodule "rmm"]
	path = rmm
	url = https://github.com/rapidsai/rmm
	branch = branch-24.12
[submodule "jitify"]
	path = jitify
	url = https://github.com/rapidsai/jitify/
	branch = jitify2
